.parasoft
soavirt_workspace/VirtualAssets/.parasoft
soavirt_workspace/VirtualAssets/.parasoft
/.parasoft
soavirt_workspace/VirtualAssets/.parasoft
/*.parasoft
*.parasoft
.parasoft
soavirt_workspace/VirtualAssets/.parasoft
